/**
 * CSS for Special:Grades
 */

div.racetrack {
    text-align: center;
}

table.sg-gradetable {
}

table.sg-gradetable tr#gradetable-header {
}

table.sg-gradetable tr.sg-gradetable-row {
}

table.sg-gradetable th.sg-gradetable-user {
    vertical-align: bottom;
    height: 120px;
}

table.sg-gradetable th.sg-gradetable-user div {
    width: 20px;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

table.sg-gradetable td.sg-gradetable-date {
    text-align: center;
    width: 100px;
}

table.sg-gradetable td.sg-gradetable-assignment {
    text-align: left;
    max-width: 300px;
}

table.sg-gradetable td.sg-gradetable-cell {
    text-align: center;
}

table.sg-evaluationtable {
    width: 100%;
}

table.sg-evaluationtable tr#evaluationtable-header {
}

table.sg-evaluationtable tr.sg-evaluationtable-row {
}

table.sg-evaluationtable tr.sg-evaluationtable-disabled {
    background-color: white;
    font-style: italic;
    color: #666666;
}

table.sg-evaluationtable td.sg-evaluationtable-date,
table.sg-evaluationtable td.sg-evaluationtable-score,
table.sg-evaluationtable td.sg-evaluationtable-value {
    text-align: center;
    width: 100px;
}

table.sg-evaluationtable td.sg-evaluationtable-title,
table.sg-evaluationtable td.sg-evaluationtable-comment {
    text-align: left;
    min-width: 200px;
    max-width: 500px;
}

table.sg-assignmenttable {
    width: 100%;
}

table.sg-assignmenttable tr#assignmenttable-header {
}

table.sg-assignmenttable tr.sg-assignmenttable-row {
}

table.sg-assignmenttable td.sg-assignmenttable-date,
table.sg-assignmenttable td.sg-assignmenttable-value,
table.sg-assignmenttable td.sg-assignmenttable-enabled,
table.sg-assignmenttable td.sg-assignmenttable-modify {
    text-align: center;
    width: 100px;
}

table.sg-assignmenttable td.sg-assignmenttable-title {
    min-width: 200px;
    max-width: 500px;
}

