/**
 * CSS for Special:Grades
 */


div.racetrack {
    text-align: center;
}


/****************************************************
 * Styles for instructor interface with grade grids *
 ****************************************************/

div#sg-gradegrid-tabs {
    font-size: 1em;
    background: none;
    border: 0px;
}

div.ui-tabs div.ui-tabs-panel {
    padding: 0em 0em;
}

table.sg-gradegrid {
}

table.sg-gradegrid a {
    color: black;
}

table.sg-gradegrid tr#sg-gradegrid-header {
}

table.sg-gradegrid tr#sg-gradegrid-footer {
}

table.sg-gradegrid tr.sg-gradegrid-row {
}

table.sg-gradegrid th.sg-gradegrid-user {
    vertical-align: bottom;
    height: 120px;
}

table.sg-gradegrid th.sg-gradegrid-user div {
    width: 20px;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

table.sg-gradegrid td.sg-gradegrid-date {
    text-align: center;
    width: 100px;
}

table.sg-gradegrid td.sg-gradegrid-assignment {
    text-align: left;
    max-width: 300px;
}

table.sg-gradegrid td.sg-gradegrid-cell {
    text-align: center;
}

table.sg-gradegrid td.sg-gradegrid-extracredit {
    background-color: #66ccff;
}

table.sg-gradegrid td.sg-gradegrid-A {
    background-color: #66cc66;
}

table.sg-gradegrid td.sg-gradegrid-B {
    background-color: #ccff66;
}

table.sg-gradegrid td.sg-gradegrid-C {
    background-color: #ffff66;
}

table.sg-gradegrid td.sg-gradegrid-D {
    background-color: #ffcc66;
}

table.sg-gradegrid td.sg-gradegrid-F {
    background-color: #ff6666;
}


/************************************
 * Styles for the student interface *
 ************************************/

table.sg-userscorestable {
    width: 100%;
}

table.sg-userscorestable tr#sg-userscorestable-header {
}

table.sg-userscorestable tr#sg-userscorestable-footer {
}

table.sg-userscorestable tr.sg-userscorestable-row {
}

table.sg-userscorestable tr.sg-userscorestable-unevaluated {
    font-style: italic;
    color: gray;
}

table.sg-userscorestable td.sg-userscorestable-date,
table.sg-userscorestable td.sg-userscorestable-score,
table.sg-userscorestable td.sg-userscorestable-value {
    text-align: center;
    width: 100px;
}

table.sg-userscorestable td.sg-userscorestable-title,
table.sg-userscorestable td.sg-userscorestable-comment {
    text-align: left;
    min-width: 200px;
    max-width: 500px;
}


/*********************************************************************
 * Styles for instructor interface for viewing all user score tables *
 *********************************************************************/

h3.sg-allusertables-header {
    text-align: center;
}


/**********************************************************************************
 * Styles for instructor interface for editing all evaluations for one assignment *
 **********************************************************************************/

table.sg-assignmentscoresformtable {
    width: 100%;
}

table.sg-assignmentscoresformtable tr#sg-assignmentscoresformtable-header {
}

table.sg-assignmentscoresformtable tr.sg-assignmentscoresformtable-row {
}

table.sg-assignmentscoresformtable tr.sg-assignmentscoresformtable-unevaluated,
table.sg-assignmentscoresformtable tr.sg-assignmentscoresformtable-unevaluated td.sg-assignmentscoresformtable-date input,
table.sg-assignmentscoresformtable tr.sg-assignmentscoresformtable-unevaluated td.sg-assignmentscoresformtable-score input,
table.sg-assignmentscoresformtable tr.sg-assignmentscoresformtable-unevaluated td.sg-assignmentscoresformtable-comment input,
table.sg-assignmentscoresformtable tr.sg-assignmentscoresformtable-disabled,
table.sg-assignmentscoresformtable tr.sg-assignmentscoresformtable-disabled td.sg-assignmentscoresformtable-date input,
table.sg-assignmentscoresformtable tr.sg-assignmentscoresformtable-disabled td.sg-assignmentscoresformtable-score input,
table.sg-assignmentscoresformtable tr.sg-assignmentscoresformtable-disabled td.sg-assignmentscoresformtable-comment input {
    font-style: italic;
    color: gray;
}

table.sg-assignmentscoresformtable td.sg-assignmentscoresformtable-user {
    text-align: left;
    width: 200px;
}

table.sg-assignmentscoresformtable td.sg-assignmentscoresformtable-date,
table.sg-assignmentscoresformtable td.sg-assignmentscoresformtable-score,
table.sg-assignmentscoresformtable td.sg-assignmentscoresformtable-value,
table.sg-assignmentscoresformtable td.sg-assignmentscoresformtable-enabled,
table.sg-assignmentscoresformtable td.sg-assignmentscoresformtable-delete {
    text-align: center;
    width: 75px;
}

table.sg-assignmentscoresformtable td.sg-assignmentscoresformtable-comment {
    text-align: left;
    width: 270px;
}

table.sg-assignmentscoresformtable td.sg-assignmentscoresformtable-date input,
table.sg-assignmentscoresformtable td.sg-assignmentscoresformtable-score input {
    text-align: center;
}


/****************************************************************************
 * Styles for instructor interface for editing all evaluations for one user *
 ****************************************************************************/

table.sg-userscoresformtable {
    width: 100%;
}

table.sg-userscoresformtable tr#sg-userscoresformtable-header {
}

table.sg-userscoresformtable tr#sg-userscoresformtable-footer {
}

table.sg-userscoresformtable tr.sg-userscoresformtable-row {
}

table.sg-userscoresformtable tr.sg-userscoresformtable-unevaluated,
table.sg-userscoresformtable tr.sg-userscoresformtable-unevaluated td.sg-userscoresformtable-date input,
table.sg-userscoresformtable tr.sg-userscoresformtable-unevaluated td.sg-userscoresformtable-title input,
table.sg-userscoresformtable tr.sg-userscoresformtable-unevaluated td.sg-userscoresformtable-score input,
table.sg-userscoresformtable tr.sg-userscoresformtable-unevaluated td.sg-userscoresformtable-value input,
table.sg-userscoresformtable tr.sg-userscoresformtable-unevaluated td.sg-userscoresformtable-comment input,
table.sg-userscoresformtable tr.sg-userscoresformtable-disabled,
table.sg-userscoresformtable tr.sg-userscoresformtable-disabled td.sg-userscoresformtable-date input,
table.sg-userscoresformtable tr.sg-userscoresformtable-disabled td.sg-userscoresformtable-title input,
table.sg-userscoresformtable tr.sg-userscoresformtable-disabled td.sg-userscoresformtable-score input,
table.sg-userscoresformtable tr.sg-userscoresformtable-disabled td.sg-userscoresformtable-value input,
table.sg-userscoresformtable tr.sg-userscoresformtable-disabled td.sg-userscoresformtable-comment input {
    font-style: italic;
    color: gray;
}

table.sg-userscoresformtable td.sg-userscoresformtable-title {
    text-align: left;
    width: 200px;
}

table.sg-userscoresformtable td.sg-userscoresformtable-date,
table.sg-userscoresformtable td.sg-userscoresformtable-score,
table.sg-userscoresformtable td.sg-userscoresformtable-value,
table.sg-userscoresformtable td.sg-userscoresformtable-enabled,
table.sg-userscoresformtable td.sg-userscoresformtable-delete {
    text-align: center;
    width: 75px;
}

table.sg-userscoresformtable td.sg-userscoresformtable-comment {
    text-align: left;
    width: 270px;
}

table.sg-userscoresformtable td.sg-userscoresformtable-date input,
table.sg-userscoresformtable td.sg-userscoresformtable-score input,
table.sg-userscoresformtable td.sg-userscoresformtable-value input {
    text-align: center;
}


/************************************************************
 * Styles for instructor interface for managing assignments *
 ************************************************************/

table.sg-manageassignmentstable {
    width: 100%;
}

table.sg-manageassignmentstable tr#sg-manageassignmentstable-header {
}

table.sg-manageassignmentstable tr.sg-manageassignmentstable-row {
}

table.sg-manageassignmentstable tr.sg-manageassignmentstable-disabled,
table.sg-manageassignmentstable tr.sg-manageassignmentstable-disabled td.sg-manageassignmentstable-date input,
table.sg-manageassignmentstable tr.sg-manageassignmentstable-disabled td.sg-manageassignmentstable-title input,
table.sg-manageassignmentstable tr.sg-manageassignmentstable-disabled td.sg-manageassignmentstable-value input {
    font-style: italic;
    color: gray;
}

table.sg-manageassignmentstable td.sg-manageassignmentstable-date,
table.sg-manageassignmentstable td.sg-manageassignmentstable-value,
table.sg-manageassignmentstable td.sg-manageassignmentstable-enabled,
table.sg-manageassignmentstable td.sg-manageassignmentstable-group,
table.sg-manageassignmentstable td.sg-manageassignmentstable-delete {
    text-align: center;
    width: 75px;
}

table.sg-manageassignmentstable td.sg-manageassignmentstable-title {
    text-align: left;
    width: 270px;
}

table.sg-manageassignmentstable td.sg-manageassignmentstable-date input,
table.sg-manageassignmentstable td.sg-manageassignmentstable-value input {
    text-align: center;
}


/*******************************************************
 * Styles for instructor interface for managing groups *
 *******************************************************/

table.sg-managegroupstable {
    width: 100%;
}

table.sg-managegroupstable tr#sg-managegroupstable-header {
}

table.sg-managegroupstable tr.sg-managegroupstable-row {
}

table.sg-managegroupstable tr.sg-managegroupstable-disabled,
table.sg-managegroupstable tr.sg-managegroupstable-disabled td.sg-managegroupstable-title input {
    font-style: italic;
    color: gray;
}

table.sg-managegroupstable td.sg-managegroupstable-enabled,
table.sg-managegroupstable td.sg-managegroupstable-delete,
table.sg-managegroupstable td.sg-managegroupstable-groupuser {
    text-align: center;
    width: 75px;
}

table.sg-managegroupstable td.sg-managegroupstable-user {
    text-align: left;
    width: 200px;
}

table.sg-managegroupstable td.sg-managegroupstable-title {
    text-align: left;
    width: 270px;
}

